@import url('common.css');

.wrap {
	overflow:hidden;
}
/*------------------header-----------------*/
header{
	position:absolute;
	width:100%;
	left:0; top:35px;
	z-index: 10;
}
header nav{
	width:70%;
	height:64px;
	border:0px;
	background:#31004a;
	margin:  auto;
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding: 0px 40px;
}
header nav h1 a{
	left:0;top:0;
    font-size:45px;
	font-family: 'Baskerville Old Face';
	color:white;
	letter-spacing: -2px;/*자간*/
}

header nav ul{
	display: flex;
	justify-content: space-between;
}
header nav ul li:after {
	content:'|';
	color:white;
	opacity: .5;
	display: inline-block;
}
header nav ul li:last-of-type:after {
	content:'';
}
header nav ul li a {
	color:white;
	width:130px;
	font-size:17px;
	font-weight: 500;
}
header nav ul li > a:hover{
	color:#f2bb36;
}
header nav ul li{
	position: relative;
	text-align: center;
}
/*-----------sub menu------------*/
header ul li div{
	width:90%;
	height:0;
	padding:0;
	position:absolute;
	left:2%; top: 43.5px;
	background:#fff;
	text-align: center;
	align-items: center;
	overflow: hidden;
	transition: 0.7s;
}

}
header ul li:nth-of-type(3) div{
	height: 0px;
}
header nav ul li div a{
	color: #333131;
	padding: 10px 0;
	font-size:15px;
	display:block;
	height: 40px;
}

header nav ul li div a:hover{
	background:#f2bb36 url('../img/icon_right.png')left center no-repeat;
	color:white;
}

header ul li:hover div{
	height: 80px;
}
header ul li:nth-of-type(3):hover div{
	height: 120px;
}


/*----예약하기----*/
header .reservation{
	position: relative;
}

header .reservation div{
	background:#f7af01;	
	margin: auto;
	padding:3px;
}
header .reservation div a{
	background:rgba(247,175,1,0.5);
	padding:0px 29px;
    border:1.5px solid #fff;
	text-align: center;
	color:white;
	line-height:2;
}
/*-------------section---------------*/
section{
	display:flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	position:relative;
	top: 0; left: 0;
}

section .main{
	width:100%; height: 100vh;
	position:relative;
}
section .main .daon-bg{
    position:relative;
    left:0; top:0;
}
section .main .daon-bg img{
    width:100%; height: 100vh;
    position:absolute;
    left:0; top:0;
}
section .main .daon-bg img:nth-of-type(1){
    z-index: 7;
}
section .main .daon-bg img:nth-of-type(2){
    z-index: 6;
}
section .main .daon-bg img:nth-of-type(3){
    z-index: 5;
}
section .main .daon-bg img:nth-of-type(4){
    z-index: 4;
}
section .main .daon-bg img:nth-of-type(5){
    z-index: 3;
}
section .main .daon-bg img:nth-of-type(6){
    z-index: 2;
}
section .main .daon-bg img:nth-of-type(7){
    z-index: 1;
}
section .main-letter{
	position: absolute;
	left:65%; top: 35%;
	z-index: 10;
}
section .main-letter h2{
	font-size:25px;
	font-family:'나눔스퀘어';
	color:white;
	text-shadow: 2px 0px 5px #e5e5e5;
}
section .main-letter a{
	font-family:'Baskerville Old Face';
	font-size:102px;
	color:white;
	font-weight: 900;
	text-shadow: 2px 0px 5px #e5e5e5;
}
section .main-letter p{
	font-family:'Aparajita';
	font-size:18.5px;
	color:white;
	white-space:pre-line;
	line-height:26.5px;
	text-shadow: 2px 0px 5px #e5e5e5;
}
section .main .play{
	position:absolute;
    left:50%; top:95%;
    transform: translateX(-50%);
    z-index: 10;
}
section .main .play button{
    border: none;
	width:20px; height:20px;
	background:white;
	display:inline-block;
	border-radius:100%;
    margin-left: 5px;
	opacity:.5;
	justify-content: space-between;
	outline-style: none;
}
section .play button:hover{
	opacity:1;
}
section .play button:nth-of-type(1){
    opacity: 1;
}

/*----------content_1----------*/
#contents_1{
	width:100%; height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
#contents_1 ul{
	width:75%; height:90%;
	font-size:0;
	padding: 0 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#contents_1 ul li{
	display:inline-block;
	margin-bottom: 1.5%;
	overflow: hidden;
	font-size:0;
	width:32%; height: 44vh;
	border:1px solid lightgray;
}
#contents_1 ul li:nth-of-type(1){
	width:65.8%;
	position:relative;
}
section #contents_1 ul li:nth-of-type(1) a{
	display: block;
	width: 100%; height: 44vh;
	background: url("../img/p_02.jpg") no-repeat center/ cover;
}
#contents_1 ul li .con_01{
	width:100%; height: 100%;
	position:absolute;
	left:50%; top:0%;
	transform: translateX(-50%);
	text-align: center;
	line-height: 1.2;
	z-index: 60;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#contents_1 ul li .con_01 h3{
	font-size:1.5rem;
	font-family: 'Baskerville BT';
	color:white;
	line-height: 0.85;
}
#contents_1 ul li .con_01 strong{
	font-size:6.5rem;
	font-family: 'Baskerville Old Face';
	color:white;
}
section #contents_1 ul li .con_01 p{
	font-size:1.25rem;
	font-family: '나눔스퀘어라운드';
	font-weight: 600;
	color:white;
	white-space: pre-line;
	letter-spacing: inherit;
	line-height:130%;
}
/* 첫번째 이미지 호버 안되게 하기 */
#contents_1 ul li:first-child:hover a:nth-of-type(1){
	transform: scale3d(1, 1, 1);
}
#contents_1 ul li:hover a:nth-of-type(1){
	transform: scale3d(1.2, 1.2, 1);
}
#contents_1 ul li a{
	margin:0;
	width: 100%;
	font-size: 0;
}
#contents_1 ul li a{
	max-width:100%;
	transition: .5s;
}

/* li 칸 순서대로 */
#contents_1 ul li:nth-of-type(2){
	margin-bottom: 0px;
}
#contents_1 ul li:nth-of-type(2) a:nth-of-type(1){
	height: 80%;
	background: url("../img/p_03.jpg");
}
#contents_1 ul li:nth-of-type(2) a:nth-of-type(2){
	height:20%;
}
#contents_1 ul li:nth-of-type(3) a:nth-of-type(1){
	height: 80%;
	background: url("../img/p_04.jpg");
}
#contents_1 ul li:nth-of-type(3) a:nth-of-type(2){
	height: 20%;
}
#contents_1 ul li:nth-of-type(4) a:nth-of-type(1){
	height: 80%;
	background: url("../img/p_05.jpg");
}
#contents_1 ul li:nth-of-type(4) a:nth-of-type(2){
	height: 20%;
}
#contents_1 ul li:nth-of-type(5) a:nth-of-type(1){
	height: 80%;
	background: url("../img/p_06.jpg");
}
#contents_1 ul li:nth-of-type(5) a:nth-of-type(2){
	height: 20%;
}

#contents_1 ul li .contentBox_all{
	display:flex;
	flex-direction: column;
	justify-content: center;
	width:100%; height: 100%;
	background:#fff;
	text-align: center;
	position: relative;
}
#contents_1 ul li .contentBox_all:hover{
	background:#a864a8;
	color:#fff;
}
#contents_1 ul li .contentBox_all strong{
	font-size:1.75rem;
	font-family: 'Baskerville BT';
	text-align: center;
	line-height: 20px;
	color:inherit;
	margin-bottom: 1.5%;
}
#contents_1 ul li .contentBox_all p{
	font-size: 21px;
	font-family: '나눔스퀘어라운드';
	color:inherit;
}
#contents_1 ul li .contentBox_all p small{
	color:inherit;
}
/*-------------------content_2---------------------*/

section #contents_2{
	width:100%;
	position:relative;
	left:0; top:0;
}
section #contents_2 ul{
	overflow: hidden;
}
section #contents_2 ul li{
	position:relative;
}
section #contents_2 ul li img{
	width:100%;
}
section #contents_2 .pension{
	width:885px; height: 450px;
	position:absolute;
	left:50%; top:5%;
    transform: translateX(-50%);
	background:rgba(255,255,255,0.35);
	
	display:flex;
	justify-content:center;
	align-content:center;
	flex-direction: column;
	flex-wrap: wrap;
}
section #contents_2  .pension h1{
	color:#47628d;
	font-size: 70px;
	font-family:'Baskerville Old Face';
	text-align: center;
}
section #contents_2 .pension strong{
	color:#47628d;
	font-size:22px;
	font-family: 'Bell MT';
	white-space: pre-line;
	line-height: 30px;
	margin-top:22px;
	flex-direction: column;
	text-align: center;
}
section #contents_2  .pension p{
	color:#47628d;
	font-size:20px;
	font-family:'나눔스퀘어라운드';
	font-weight: 600;
	text-align: center;
	white-space: pre-line;
	line-height: 30px;
	letter-spacing: 0px;
	margin-top:28px;
}
#contents_2 button{
	width:25%; height: 13%;
	border-radius:354px;
	background: #f2bb36;
	margin:0 auto;
	margin-top:28px;
	border:none;
	font-size:1.55rem;
	font-weight: 600;
	color:#fff;
	transition:.5s;
}
#contents_2 button:hover{
	background: #47628d;
}


/*--------------------contents_3--------------------*/
#contents_3{
	width:100%; height:50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#contents_3 .board{
	width:70%; height:45%;
	display: flex;
	justify-content: space-between;
}
#contents_3 .board .notice-information{
	float:left;
	width:47%; height: 100%;
}
#contents_3 .board .notice-information .title{
	width:100%;
	height: max-content;
	border-bottom:3px solid #31004a ;
	display: flex;
	justify-content : space-between;
}
#contents_3 .board .notice-information .title h4{
	font-size:1.2rem;
	color:#31004a;
	line-height: 3rem;
}
#contents_3 .board .notice-information .title a{
	color:#31004a;
	font-size:1.2rem;
	line-height: 3rem;
}
#contents_3 .board .notice-information table{
	width:100%;
}
#contents_3 .board .notice-information table tr{

}	
#contents_3 .board .notice-information table td{
	font-size: 1.15rem;
	line-height: 2.2rem;
}

#contents_3 .board .notice-information table td:nth-last-of-type(1){
	float:right;
}
#contents_3 .board .notice-information table tr td:hover{

}
#contents_3 .board .reviews{
	float:right;
	width:47%; height: 100%;
}
#contents_3 .board .reviews .title{
	width:100%;
	border-bottom:3px solid #31004a;
	display: flex;
	justify-content: space-between;
}
#contents_3 .board .reviews .title h4{
	font-size:1.2rem;
	color:#31004a;
	line-height: 3rem;
}
#contents_3 .board .reviews .title a{
	font-size:1.2rem;
	color:#31004a;
	line-height: 3rem;
}
#contents_3 .board .reviews table{
	width:100%;
	border:1px solid skyblue;
}
#contents_3 .board .riviews table a{
	float:left;
}
#contents_3 .board .reviews table tr{

}
#contents_3 .board .reviews table td{
	font-size: 1.15rem;
	line-height: 2.2rem;
}
#contents_3 .board .reviews table td:nth-last-of-type(1){
	float:right;
}
/*---------------footer--------------*/
footer{
    position: relative;
	width:100%;
	background:#31004a;
	padding: 1% 5%;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
footer .left {
    position:absolute;
    left:18%; top:50%;
    transform: translateY(-50%);
}
footer .left h1{
	font-family: 'Baskerville Old Face';
	font-size:45px;
	color:#fff;
	margin-top:13%;
}
footer .right{
	float:right;
    right:50%; top:0;
    transform: translateX(-10%);
	width:80%;
	text-align: center;
}
footer .right ul{
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 0 50px;
}
footer .right ul li{
}
footer .right ul li:after{
	content:'ㅣ';
	color:#a0a0a0;
	display:inline-block;
	padding: 0 40px;
}
footer .right ul li>a{
	color:white;
}
footer .right ul li a{
	font-weight: 400;
	color:#fff;
	font-family: '나눔스퀘어';
	font-size:17px;
}
footer .right ul li a:hover{
	color:#a0a0a0;
}
footer .right ul li:nth-of-type(3):after{
	content:'';
}
footer .right p{
	white-space: pre-line;
	color:#fff;
	font-size:14.6px;
	padding-top:1.3%;
    line-height:20px;
    margin-bottom: .5%;
}