@import url('common.css');

wrap{
	overflow:hidden;
}
/*------------------header-----------------*/
header{
	position:absolute;
	width:70%;
	left:15%; top:35px;
	z-index: 2;
}
header nav{
	width:1240px;
	height:64px;
	border:0px;
	background:#31004a;
	margin:  auto;
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding: 0px 40px;
}
header nav h1 a{
	left:0;top:0;
    font-size:45px;
	font-family: 'Baskerville Old Face';
	color:white;
	letter-spacing: -2px;/*자간*/}

header nav ul{
	display: flex;
	justify-content: space-between;
}
header nav ul li:after {
	content:'|';
	color:white;
	opacity: .5;
	display: inline-block;
}
header nav ul li:last-of-type:after {
	content:'';
}
header nav ul li a {
	color:white;
	width:130px;
	font-size:17px;
	font-weight: 500;
}
header nav ul li > a:hover{
	color:#f2bb36;
}
header nav ul li{
	position: relative;
	text-align: center;
}
/*-----------sub menu------------*/
header ul li div{
	width:90%;
	height:0;
	padding:0;
	position:absolute;
	left:0%; top: 43.5px;
	background:#fff;
	text-align: center;
	align-items: center;
	overflow: hidden;
	transition: 0.7s;
}

}
header ul li:nth-of-type(3) div{
	height: 0px;
}
header nav ul li div a{
	color: #333131;
	padding: 10px 0;
	font-size:15px;
	display:block;
	height: 40px;
}

header nav ul li div a:hover{
	background:#f2bb36 url('../img/icon_right.png')left center no-repeat;
	color:white;
}

header ul li:hover div{
	height: 80px;
}
header ul li:nth-of-type(3):hover div{
	height: 120px;
}


/*----예약하기----*/
header .reservation{
	position: relative;
}

header .reservation div{
	background:#f7af01;	
	margin: auto;
	padding:3px;
}
header .reservation a{
	background:rgba(247,175,1,0.5);
	
	
	padding:0px 29px;
    border:1.5px solid #fff;
	text-align: center;
	color:white;
	line-height:2;
}
/*------------------section-------------------*/
section{
	display:flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	position:relative;
	top: 0; left: 0;
}
section figure img{
	width:100%;
	align-items: center;
}
section .mini-menu{
	width:100%;
	margin: 2% 0%;
}
section .mini-menu ul{
	float:right;
	position:relative;
	right:5%; top:50%;
}
sectrion .mini-menu ul li{
	display:inline-block;
}
section .mini-menu ul a:after{
	content:'>';
	color:#777373;
	opacity:.5;
	margin-left:10px;
}
section .mini-menu ul a:last-of-type:after{
	content:'';
}
section .mini-menu ul a{
	font-weight: 600;
	font-family: '나눔스퀘어라운드';
	font-size:15px;
}
section .DAON-INTRO{
	position: relative;
	text-align: center;
	left:0; top:0;
	height: 160px;
}
section .DAON-INTRO span{
    width:94px; height: 5px;
	background:#f2bb36;
	margin-bottom: 5px;
}
section .DAON-INTRO h1{
	font-family: '나눔스퀘어라운드';
	font-size:36px;
}

section .WELCOME{
	width:100%;
	position: relative;
	text-align: center;
	left:0; top:0;
	height: 180px;
}
section .WELCOME h2{
	font-size:57px;
	font-family: '나눔명조'; 
}
section .WELCOME small{
	font-size:26px;
	font-family: '나눔스퀘어라운드';
	font-weight:400;
	letter-spacing: 1px;
	line-height: 100px;
}

section #all{
	text-align: center;
	align-content: center;
	align-items: center;
}

section #all .photo1{
	width:100%;
	display: flex;
	align-content: center;
}
section #all .photo_1 img{
	width:100%;
}
section #all .letter{
	width:100%;
	position:relative;
	left:0; top:0px;
}
section #all .letter p{
	font-size:26px;
	margin-top:95px;
	margin-bottom: 96px;
}
section #all .photo_2{
	position:relative;
	left:0; top:0;
	text-align: center;
	justify-content: center;
}
section #all .photo_2 img{
	width:70%;
}
section #all .photo_2 span{
	position:absolute;
	left:0%; top:0%;
	width:70%;
	margin: 3.5% 15%;
	justify-content: center;
}
section #all .photo_2 h1{
	font-size:72px;
	font-family: 'Baskerville BT';
    text-shadow: 5px 5px 10px #9b7a59;
	color:white;
	margin-top: 8%;
	margin-bottom: 1%;
}
section #all .photo_2 h2{
	font-size:58px;
	font-family: 'Baskerville BT';
    text-shadow: 5px 5px 10px #9b7a59;
	color:white;
	margin-bottom:12%;
}
section #all .photo_2 p{
	white-space: pre-line;
	font-family: '나눔스퀘어';
	font-size:26px;
	line-height: 43px;
	color:white;
	margin-top: -8%;
}
section .location{
	font-size:0;
}
section .location ul{
	font-size:0;
	text-align: center;
	margin-top: 143px;
	margin-bottom: 38px;
}
section .location ul h3{
	font-size:38px;
	font-family: '나눔스퀘어라운드';
	font-weight: 400;
	padding: 25px;
}
section .location ul p{
	font-size:21px;
	font-family: '나눔스퀘어라운드';
}
section .map{
	font-size:0px;
	margin: 0 auto;
}
section .map a{
	font-size:0;
}
section .map a img{
	width: 100%;
}
section #lo_box{
	text-align: center;
	margin:0 auto;
	position:relative;
	left:0px; top:0px;
	border:1px solid #eeeeee;
	width:1120px; height: 157px;
	margin-bottom: 155px;
}
section #lo_box .adress{
	margin-top:3.5%;
}
section #lo_box .adress p{
	font-weight: 500;
	font-family: '나눔스퀘어라운드';
	font-size:19px;
	letter-spacing: -1x;;
}
section #lo_box .adress p img{
	vertical-align: middle;
}
section #lo_box .call{
	margin-top:2.5%;
}

section #lo_box .call p{
	font-weight: 500;
	font-family: '나눔스퀘어라운드';
	font-size:19px;
	letter-spacing: -1x;;
}
section #lo_box .call p img{
	vertical-align: middle;
}
/*---------------footer--------------*/
footer{
	width:100%;
	background:#cdcdcd;
	padding: 1% 0;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
footer #footer{
	width:70%;
	margin: 0 auto;
}
footer .left {
	float: left;
	width: 15%;
}
footer .left h1{
	font-family: 'Baskerville Old Face';
	font-size:45px;
	color:#fff;
	margin-top:13%;
}
footer .right{
	float:right;
	width:80%;
	text-align: center;
}
footer .right ul{
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 0 50px;
}
footer .right ul li{
}
footer .right ul li:after{
	content:'ㅣ';
	color:#a0a0a0;
	display:inline-block;
	padding: 0 40px;
}
footer .right ul li>a{
	color:white;
}
footer .right ul li a{
	font-weight: 400;
	color:#fff;
	font-family: '나눔스퀘어';
	font-size:17px;
}
footer .right ul li a:hover{
	color:#a0a0a0;
}
footer .right ul li:nth-of-type(3):after{
	content:'';
}
footer .right p{
	white-space: pre-line;
	color:#fff;
	font-size:14.6px;
	padding-top:1.3%;
}